body {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    margin-top: 17%;
}

input {
    background-color: rgb(184, 179, 179);
    border-radius: 8px;
    border-width: 0.5px;
}

button {
    background-color: rgba(188, 183, 183, 0.823);
    border-radius: 7px;
    border-width: 1.5px;
    margin-left: 40%;
}